# Veri Analizi ve Manipülasyon
pandas
numpy

# Makine Öğrenmesi ve Model Yönetimi
scikit-learn
joblib

# Yapay Zeka ve Agent Yapıları (CrewAI & LangChain)
crewai
langchain-groq

# Web Arayüzü ve Görselleştirme
streamlit
plotly
altair
matplotlib
seaborn

# Yapılandırma ve Yardımcı Araçlar
python-dotenv
pyyaml